<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
  py:strip="">

  <head py:match="head" py:attrs="select('@*')">
      ${select('*|comment()|text()')}
      <link rel="stylesheet" type="text/css"
      href="${href.chrome('site/libavg.css')}" />
  </head>

  <body  py:match="body" py:attrs="select('@*')">
    ${select('*|text()')}
        <!-- Piwik -->
        <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://www.libavg.de/piwik/" : "http://www.libavg.de/piwik/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script><noscript><p><img src="http://www.libavg.de/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
  </body> 

  <div py:match="form[@id='search']" py:strip="True">
  </div>
  <div py:match="div[@id='main']" py:attrs="select('@*')">
      <div id="sidebar">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/wiki/DownLoad">Download</a></li>
              <li><a href="/wiki/FeatureList">Features</a></li>
              <li><a href="/wiki/Multitouch">Multitouch</a></li>
              <li><a href="/wiki/Showcase">Showcase</a></li>
              <li>Documentation
                  <ul>
                      <li><a href="/wiki/ReleaseInstall">Installation Guide</a></li>
                      <li><a href="/wiki/ProgrammersGuide">Programmer's Guide</a></li>
                      <li><a href="/wiki/Reference">Reference</a></li>
                  </ul>
              </li>
              <li>Community
                  <ul>
                      <li><a href="/wiki/MailingLists">Mailing Lists</a></li>
                      <li><a href="/wiki/BugReports">Reporting Bugs</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="/wiki/Contributors">Contributors</a></li>
                  </ul>
              </li>
              <li><a href="/wiki/Development">libavg Development</a></li>
              <li><a href="/wiki/TitleIndex">Index</a></li>
          </ul>
          <form id="search" action="/search" method="get">
              <div>
                  <label for="proj-search">Search:</label>
                  <input type="text" id="proj-search" name="q" size="13" value="" />
                  <input type="submit" value="Search" />
              </div>
          </form>
      </div>
      <div>
          ${select('*|text()')}
      </div>
  </div>
  <div py:match="div[@class='trac-modifiedby']" py:strip="True">
  </div>
  <div py:match="h1/br" py:strip="True">
  </div>
</html>
