body{
    margin:0px;
    /*font: normal 13px Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;*/
    font: normal 14px/21px Arial,Verdana,Helvetica;
    color: #202020;
    }
#main{margin:10px 20px 0 20px;}

/* link color chnager */

:link, :visited, dt em, .milestone .info h2 em,
#content.build h2.config :link, #content.build h2.config :visited,
.plugin h3 a {
 color: #156d00;
}

:link:hover, :visited:hover {
 color: #0b3900;
 background-color:transparent;
}

#banner {
    background-color:#cccccc;
    padding:0px;
    height:105px;
    border-width:0px;
}

/* Main navigation bar */
#mainnav {
 border-width:0px;
 background-color:#616161;
 background-image:none;
 margin:0px;
 padding-bottom:3px;
}

#mainnav ul {text-align:left; padding:0px; margin-left:20px;}

#mainnav li { padding:0; font:normal 12px Arial;}
#mainnav :link, #mainnav :visited {
    color: #fff;
    padding: .2em 20px;
    background-image:none;
    border-width:0px;
}
#mainnav :link:hover, #mainnav :visited:hover {
    border-width:0px;
    background-color: #383838;
}
#mainnav .active :link, #mainnav .active :visited {
    background-image:none;
    background-color: #2C2C2C;
    border-width:0px;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
    background-image:none;
    border-width:0px;
    background-color: #383838;
}


#metanav {color:#696969; padding:0; position:absolute; top:82px; right:20px; text-align:right; }
#metanav :link, #metanav :visited {
    color:#696969;
}
#metanav a:link:hover, #metanav a:visited:hover {
    color:#202020;
    background-color:#CCCCCC;
}
#metanav ul{text-align:left; padding:0px; margin:0px; display:inline}
#metanav li {border:0px; padding-right:0px; padding-left:18px; font:normal 13px Arial;}


/* Header */
#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; padding: 0 }
#header img { border: none; margin:0px; margin-left:20px; margin-top:20px; }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #555;
 margin-bottom: 2px;
 padding: 0;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

#content {
    margin-left: 15em;
    padding-top: 0px;
}

#pagepath {
    font:normal 12px Arial;
    float:none
}

#pagepath .pathentry {
    float:none
}

#altlinks {
    clear: right;
}

table.listing {
    clear: right;
}

#preview {
    clear: right;
}

#help {
    clear: right;
}

#info {
    clear: none;
}

#wikipage {
    clear: right;
}

#content.search hr {
    clear: none;
}

#content.admin h1 {
    float: none;
}

#tabs {
    clear: none;
    width: 9em;
}

#tabcontent {
    margin-left: 9em;
}
#sidebar {
    float: left;
    padding: 0 0 10px 0;
    margin: 33px 5px 0 0;
    color: #000000;
    background-color: #CCCCCC;
    width: 14em;
    font:normal 14px/21px Arial;
}

#sidebar ul {text-align:left; padding:0px; margin-left:0px; margin-bottom:0px;}
#sidebar li {padding-left:20px; list-style-type:none;}
#sidebar :link, #sidebar :visited {color:#935401; }
#sidebar :link:hover, #sidebar :visited:hover {
    color:#4a2a00; 
    background-color:#CCCCCC;
}

#search , #search div{display:inline;}
#search {
    padding:0 0 8px 17px;
}
#search input {
    margin-top:13px;
    padding:1px; 
    background-color:#989898; 
    border-width:0px; 
    color:#FFFFFF; 
    font:normal 13px Arial;
}
#search input[type='submit'] {padding:0 0px 0 0px;}


table.listing thead tr, #info,
.tickets tr.trac-columns th {background-color:#CEECF2;}

#prefs {background-color:#eee;}
#preview {background-color:#eee;}

#ticket {background-color:#eee;}
#ticket .date {color:#999;}
#ticket table.properties tr {border-bottom:1px dotted #ccc;}
#ticket table.properties {border-top: 1px solid #ccc; clear:right; }
#ticket .description h3 {border-bottom: 1px solid #ccc;}

#footer {margin:0 20px 0 20px;}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 21, 2011 */

@font-face {
    font-family: 'DejaVuSansExtraLight';
    src: url('dejavusans-extralight-webfont.eot');
    src: url('dejavusans-extralight-webfont.eot?iefix') format('eot'),
         url('dejavusans-extralight-webfont.woff') format('woff'),
         url('dejavusans-extralight-webfont.ttf') format('truetype'),
         url('dejavusans-extralight-webfont.svg#webfonteuV4dmgf') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h6 {
    font-family:'Arial'; 
    font-weight:normal; 
    color:#935401;
/*    clear: right;*/
}
h2 {font-size:18px;}

.notesImportant, .notesInfo, .notesNote {
 padding: 1px 10px 1px 10px;
 border-width:0px;
}
.notesImportant{
    background: #fcb;
    border-color: #d00;
    color: #900;
}
.notesInfo{
    background:#CCCCCC;
    border-color:#005;
    color: #935401;
}
.notesNote{
    background:#fffb96;
    border-color:#aaa401;
    color: #827d01;
}
