body{
    margin:0px;
    /*font: normal 13px Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;*/
    font: normal 14px/21px Arial,Verdana,Helvetica;
    color: #202020;
    }
#main{margin:20px;}

/* link color chnager */

:link, :visited, dt em, .milestone .info h2 em,
#content.build h2.config :link, #content.build h2.config :visited,
.plugin h3 a {
 color: #3F9BBA;
}

#banner {
    background-color:#cccccc;
    padding:0px;
    height:105px;
    border-width:0px;
}

/* Main navigation bar */
#mainnav {
 border-width:0px;
 background-color:#616161;
 background-image:none;
 margin:0px;
 padding-bottom:3px;
}

#mainnav ul {text-align:left; padding:0px; margin-left:20px;}

#mainnav li { padding:0; font:normal 12px Arial;}
#mainnav :link, #mainnav :visited {
    color: #fff;
    padding: .2em 20px;
    background-image:none;
    border-width:0px;
}
#mainnav :link:hover, #mainnav :visited:hover {
    border-width:0px;
    background-color: #383838;
}
#mainnav .active :link, #mainnav .active :visited {
    background-image:none;
    background-color: #2C2C2C;
    border-width:0px;
}
#mainnav .active :link:hover, #mainnav .active :visited:hover {
    background-image:none;
    border-width:0px;
    background-color: #383838;
}


#metanav {color:#696969; padding:0; position:absolute; top:82px; right:20px; text-align:right; }
#metanav :link, #metanav :visited {
    color:#696969;
}
#metanav a:link:hover, #metanav a:visited:hover {
    color:#202020;
    background-color:#CCCCCC;
}
#metanav ul{text-align:left; padding:4px; margin-left:20px; display:inline}
#metanav li {border:0px; font:normal 13px Arial;}

#search , #search div{display:inline;}
#search {margin-right:0px; }
#search input {padding:0px; background-color:#3F9BBA; border-width:0px; color:#fff;}
#search input[type='submit'] {padding:0 0px 0 0px;}



/* Header */
#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; padding: 0 }
#header img { border: none; margin:0px; margin-left:20px; margin-top:20px; }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #555;
 margin-bottom: 2px;
 padding: 0;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

#content {
    margin-left: 15em;
}

#altlinks {
    clear: right;
}

table.listing {
    clear: right;
}

#preview {
    clear: right;
}

#help {
    clear: right;
}

#info {
    clear: none;
}

#wikipage {
    clear: right;
}

#sidebar {
    float: left;
    padding: 0em 0em 0em 0.8em;
    margin: 1.5em 0.5em 1em 0em;
    color: #000000;
    background-color: #EEE5E6;
    width: 13em;
}

table.listing thead tr, #info,
.tickets tr.trac-columns th {background-color:#CEECF2;}

#prefs {background-color:#eee;}
#preview {background-color:#eee;}

#ticket {background-color:#eee;}
#ticket .date {color:#999;}
#ticket table.properties tr {border-bottom:1px dotted #ccc;}
#ticket table.properties {border-top: 1px solid #ccc;}
#ticket .description h3 {border-bottom: 1px solid #ccc;}

#footer {margin:0 20px 0 20px;}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 21, 2011 */

@font-face {
    font-family: 'DejaVuSansExtraLight';
    src: url('dejavusans-extralight-webfont.eot');
    src: url('dejavusans-extralight-webfont.eot?iefix') format('eot'),
         url('dejavusans-extralight-webfont.woff') format('woff'),
         url('dejavusans-extralight-webfont.ttf') format('truetype'),
         url('dejavusans-extralight-webfont.svg#webfonteuV4dmgf') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1,h2,h3,h4,h6 {font-family:'DejaVuSansExtraLight'; font-weight:normal; color:#416a7f;}


.notesImportant, .notesInfo, .notesNote {
 display:block;
 padding: 0 20px 0 20px;
 border-width:1px;
 border-style:dotted;}
.notesImportant{
    background: #fcb;
    border-color: #d00;
    color: #900;
}
.notesInfo{
    background:#CEECF2;
    border-color:#005;
    color: #097D98;
}
.notesNote{
    background:#fffb96;
    border-color:#aaa401;
    color: #827d01;
}
